# Ignorer les fichiers environnementaux sensibles
.env

# Ignorer les dossiers de dépendances Node.js
node_modules/

# Ignorer les fichiers de build ou de distribution
dist/
build/


# Logs
*.log

# Ignorer des fichiers temporaires et système
.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
