# Ignorer les fichiers environnementaux sensibles
.env
.husky/

# Ignorer les dossiers de dépendances Node.js
node_modules/

# Ignorer les fichiers de build ou de distribution
dist/
build/


# Logs
*.log
.cache/

# Ignorer des fichiers temporaires et système
.DS_Store

upload-folder/



# Ignorer les fichiers spécifiques de l'éditeur ou de l'IDE
.vscode/
.idea/

